.setProfileContainer {
    padding: 3em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #f2f0e4;
}

.setProfileContainer h1 {
    font-size: 1.7em;
    font-weight: 500;
    font-style: normal;
    color: var(--textColor);
}

.setProfileContainer p {
    margin-top: 10em;
    font-weight: 630;
    font-size: 1.22em;
    color: var(--textColor);
}

.setProfileContainer .img > img{
    border-radius: 50%;
    width: 8em;
}

.actionBtn {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 630;
}

.actionBtn > a:last-child {
    color: var(--btnBgColor);
    font-size: 0.875em;
    font-weight: 400;
    font-style: normal;
}