.UpcomingBottomSheetContainer {
    background-color: #ffffff;
    border-radius: 3em !important;
    padding: 1.5em 1em;
    position: relative;
    height: 100%;
}

.switch_Line {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX("-50%");
    height: 4px;
    width: 35px;
    background-color: #cccccc;
}

.JoinBtn {
    font-size: 1.3em;
    font-weight: 500;
    border: none;
    border-radius: 2em;
    color: #ffffff !important;
    background-color: #28ae61;
    padding: 0.3em 2em;
    text-align: center;
}

.link button {
    border: none;
    background-color: transparent;
    color: #3287b7 !important;
}